<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
        <tbody>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td valign="top" align="center">
                            <table width="620" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td width=" ">
                                                    <div style="font-size:0pt;line-height:0pt;text-align:left"><a
                                                                href="" target="_blank"
                                                                class="text-uppercase text-white text-bold">
                                                            CONVERSION</a></div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <div style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#292929;text-align:left">

                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                <tr>
                                                    <td style="background-color:#494949" bgcolor="#3ec1d5">
                                                        <div style="font-size:0pt;line-height:0pt;min-height:2px;height:2px;background-color:#3ec1d5">
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table style="border-radius:3px" width="100%" cellspacing="0"
                                                   cellpadding="0" border="0" bgcolor="#FFFFFF">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                                           border="0">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="font-size:0pt;line-height:0pt;text-align:left"
                                                                                width="30"></td>
                                                                            <td style="font-family:Arial,Helvetica,sans-serif">


                                                                                <h1 style="color:#292929;font-family:Arial,sans-serif,Roboto;font-size:24px;line-height:27px;text-align:center;font-weight:lighter"
                                                                                    You got message from </h1>

                                                                                <div style="color:#292929;font-family:Arial;font-size:14px;line-height:20px;text-align:center">
                                                                                    <p>Vous avez effectué une demande
                                                                                        d'échange de devise. Vous
                                                                                        désirez échanger
                                                                                        <strong> {{ conversion.currencyFrom }} </strong>
                                                        en
                                                                                        <strong> {{ conversion.currencyTo }} </strong>
                                                                                        <br>Vous serez informé
                                                                                    </p>
                                                                                    <br>
                                                                                </div>

                                        </div>
                                    </td>
                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="30"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="font-size:0pt;line-height:0pt;min-height:30px"></div>
            </td>
        </tr>
        </tbody>
    </table>

    <div style="font-size:0pt;line-height:0pt;min-height:1px;height:1px;background:#3ec1d5"></div>
    <div style="font-size:0pt;line-height:0pt;min-height:1px;height:1px;background:#3ec1d5"></div>
    <div style="font-size:0pt;line-height:0pt;min-height:20px;height:20px"></div>
</div>
</td>
<td style="font-size:0pt;line-height:0pt;text-align:left" width="10"></td>
</tr></tbody>
</table>
<div style="font-size:0pt;line-height:0pt;min-height:50px"></div>
<div style="font-size:0pt;line-height:0pt;text-align:center"></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr></tbody>
</table>
<div class="yj6qo"></div>
<div class="adL">
</div>
</div>
<div class="adL">
</div>
</div></div>
<div id="" class="ii gt" style="display:none">
    <div id=":mr" class="a3s aXjCH undefined"></div>
</div>
<div class="hi"></div>
</body>
</html>